<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand fw-bold" href="#">
            <img src=".././../favicon.ico" alt="" width="25" height="25" class="d-inline-block align-text-top">
            RecipeBook
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link text-primary fw-bold" href="#"> <i class="fas fa-home fs-5"></i> Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-success fw-bold" href="#"> <i class="fas fa-cart-plus fs-5"></i> Cart</a>
                </li>
            </ul>
        </div>
    </div>
</nav>