<div class="main-section min-vh-100 vh-100">
    <app-header></app-header>
    <div class="container-fluid mt-3">
        <section class="py-2 px-3 curved elevated">
            <div class="row">
                <div class="col-12">
                    <app-breadcrumb></app-breadcrumb>
                </div>
            </div>
        </section>
    </div>
    <div class="container-fluid mt-3">
        <section class="p-3 curved elevated">
            <div class="row">
                <div class="col-12">
                    <app-recipe></app-recipe>
                </div>
            </div>
        </section>
    </div>
</div>